nav{
    display: flex;
    justify-content: space-evenly;
    padding-left: 350px;
}

.info{
    background-color:black;
    height: 250px;
}
a{
    text-decoration: none;
    color: white;
}

h2{
    color: white;
    padding-left: 250px;
    margin-top: 120px;
}

h4{
    color:white;
    align-content: center;
    padding-left: 1200px;
    margin-top: -30px;
    font-size: 20px;
}
img{
    height: 400px;
    padding-left: 250px;
}
.image1{
    height: 30px;
    width: 30px;
    display: flex;
}
.forwardarrow{
    color: white;
}
.btn4{
    height: 50px;
    width: 200px;
    background-color: orange;
    border-top-right-radius: 15px;
}