body{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    font-family: 'Actor';
}

#section1a{
    width: 100%;
    height: 250px;
    background-color: black;
}

.navigbar2{
    width: 50%;
    float: right;
   }
   .menulink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
   }
   .menuitems{
    list-style-type: none;   
}

.menu{
    text-decoration: none;
    color: silver;
}

.orange{
    text-decoration: none;
    color: orange;
}

.btnh{
    text-decoration: none;
    color: black;
    font-size: large;
}